<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>892688541888-lrqkqvg966quo6qflt3jb4bb82q58guv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqEfDy2i6ZKAYUTmLDXsgyC5sjiymXBaE</string>
	<key>GCM_SENDER_ID</key>
	<string>892688541888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.happydelivery</string>
	<key>PROJECT_ID</key>
	<string>happydelivery-1</string>
	<key>STORAGE_BUCKET</key>
	<string>happydelivery-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892688541888:ios:e9560616d9d76d9592e525</string>
</dict>
</plist>